form(name="registration", id="registration_form", method="post", enctype="multipart/form-data",  class="tasty-form")
	ul
		li
			label(for="username") Username
			input(type="text", name="username", id="username", value="#{userdata.username}", disabled=mode=='UPDATE', required, pattern="[A-Za-z0-9_-]{3,31}")
			span.tasty-form-hint Valid characters are A-Z, a-z, 0-9, "-"" and "_". Length must be 3-31.
		li
			label(for="fullname") Full name
			input(type="text", name="fullname", id="fullname", value="#{userdata.longname}", pattern="[A-Za-z0-9_-\\s]{3,31}")
			span.tasty-form-hint Valid characters are A-Z, a-z, 0-9, "-", "_" and " ". Length must be 3-31.
		li
			label(for="email") Email
			input(type="email", name="email", id="email", value="#{userdata.email}", disabled=mode=='UPDATE', required)

		if(mode != 'UPDATE')
			div(id="optional_password_block")
				li
					label(for="password") Password
					input(type="password", name="password", id="password",pattern="(?=^.{8,}$)(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\\s)[0-9a-zA-Z!@#$%^&*()]*", required)
					span.tasty-form-hint You need at least 8 characters, one of which is a number and one capital letter
				li
					label(for="password_confirmation") Confirm Password
					input(type="password", name="password_confirmation", id="password_confirmation", pattern="(?=^.{8,}$)(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\\s)[0-9a-zA-Z!@#$%^&*()]*", required)
					span.tasty-form-hint(id="match_error") Passwords must match!
		li
			label(for="image") Profile image
			if(userdata.photopath === null && mode === 'UPDATE')
				img(src="/images/no_profile_photo.png", width="50", height="50")
			input(type="file", name="image", id="image")

		if(userdata.level == 2 || mode === "CREATE")
			div(id="optional_restaurant_block")
				li
					label(for="restaurant") I'm a restaurant, show me more!
					input(type="checkbox", name="restaurant", id="restaurant")

			div(id="restaurant_fields")
				li
					label(for="streetaddress") Street Address
					input(type="text", name="streetaddress", id="streetaddress", value="#{userdata.street_address}", pattern="((.){1,}(\\d){1,}(.){0,})")
				li
					label(for="zipcode") Postal Code
					input(type="text", name="zipcode", id="zipcode", value="#{userdata.postal_code}", pattern="\\d{5}")
				li
					label(for="city") City
					input(type="text", name="city", id="city", value="#{userdata.city}", pattern="[a-zA-Z]+(?:[\\s-][a-zA-Z]+)*")
				li
					label(for="country") Country
					input(type="text", name="country", id="country", value="#{userdata.country}", pattern="[a-zA-Z]+(?:[\\s-][a-zA-Z]+)*")
				li
					label(for="phone") Phone
					input(type="tel", name="phone", id="phone", value="#{userdata.phonenumber}", pattern="\\d{5,10}")
		if(mode != 'UPDATE')
			li
				button(type="submit",class="submit", id="submitbtn") Register
		else
			li
				input(type="hidden", name="mode", value="update")
				button(type="submit", id="editsubmitbtn", class="submit") Update
script(src="/javascripts/client_scripts.js")
