//-
	This page displays a listing of all users. The page should also have links to page where new user is added,
	where user info is displayed and maybe a link to destroy a user.

	Note: This is a page that should be displayed only to admins.

extends ../layout

block content

	section#page_content
		section#page_spotlight.grid
			section.col-3-4
				if(userdata.length > 0)
					h1 Found #{userdata.length} registered users
					table(id="user_table", cellspacing="10")
						thead
							tr
								th Username
								th Email
								th Name
								th Added
								th Level
						tbody
							each user, ind in userdata
								tr
									td 
										a(href="/profile/#{user._id}") #{user.username}
									td  #{user.email}
									if(user.longname !== "undefined")
										td #{user.longname}
									td  #{user.added.toLocaleDateString()}
									if(user.level == 1)
										td Reviewer
									else
										td Restaurant
									if(user.level == 2 && user.active)
										td
											a(href="#", id="#{user._id}", onclick="handleActivation(this.id, #{ind}, -1);")
												img(src="/images/active.png", alt="Active restaurant", title="Active")
									else if(user.level == 2 && !user.active)
										td
											a(href="#", id="#{user._id}", onclick="handleActivation(this.id, #{ind}, 1);")
												img(src="/images/inactive.png", alt="Inactive restaurant", title="Inactive")
		section#page_rating_lists.grid
			section#user-top-rated-dishes-list.col-1-2
				if (newlyAddedDishes)
					h2 Newest dishes
					each dish in newlyAddedDishes
						ul
							li.dish-list-item.grid
								header.col-1-4
									img(src="/images/dishes/#{dish.photopath}")
									div.rateit(data-rateit-readonly="true", data-rateit-value="#{dish.points/dish.reviews}")
							
								section.col-3-4
									h3 #{dish.name} by #{dish.restaurant.longname}
									p #{dish.description}
									p #{dish.added.toLocaleDateString()}
			section#user-top-rated-dishes-list.col-1-2
				if (topDishes)
					h2 Top rated dishes
					each dish in topDishes
						ul
							li.dish-list-item.grid
								header.col-1-4
									img(src="/images/dishes/#{dish.photopath}")
									div.rateit(data-rateit-readonly="true", data-rateit-value="#{dish.points/dish.reviews}")
							
								section.col-3-4
									h3 #{dish.name}
									p #{dish.description}

									