//- 
	Thus is a form for login in a user

extends ../layout

block content

	form(name="login", id="login_form", method="post", class="tasty-form")
		ul
			li
				h2 Login
				span.tasty-form-required-notification * Marks required fields
			
			li
				label(for="username") Username
				input(type="text", name="username", id="username", pattern=".{3,}", required)
				span.tasty-form-hint You also can use your email address to login 

			li
				label(for="password") Password
				input(type="password", name="password", id="password", pattern=".{8,}", required)
			
			li
				button(type="submit", class="submit") Login