//-
	This page is for showing selected users profile information.

	

extends ../layout

block content

	section#page_content
		section#page_rating_lists.grid
			
			section.col-1-3
				if(userdata.photopath !== "")
					img(src="/images/users/#{userdata.photopath}", width="50", height="50")
				else
					img(src="/images/no_profile_photo.png", width="50", height="50", title="No profile image", alt="No profile image")
			section.col-1-3
				p Username: #{userdata.username}
				if(userdata.longname !== "")
					p Name: #{userdata.longname}
				
		section#page_rating_lists.grid
			section#user-top-rated-dishes-list.col-1-2
				if(reviewdata.length > 0)
					h2 User #{userdata.username} reviews
					table(id="reviews_table", cellspacing="10")
						tr
							th Dish
							th Rating
							th Rated
						each item in reviewdata
							tr
								td
									a(href="/dish/#{item.dish._id}") #{item.dish.name}
								td
									div.rateit(data-rateit-readonly="true", data-rateit-value="#{item.rating}")
								td #{item.added.toLocaleDateString()}
				else
					h2 No reviews yet
							