extends ../layout

block content
		section#page_content
			section#search_lists
					div
						h2 Restaurants in Tasty
						ul(data-role="listview")
							each item in userdata
								li
									section#page_rating_lists.grid
										section.col-1-3
											if(item.photopath !== "")
												img(src="/images/users/#{item.photopath}", height="50")
											else
												img(src="/images/no_profile_photo.png", height="50", title="No profile image", alt="No profile image")
										section.col-1-3
											h3 #{item.longname}
											p Address: #{item.street_address}
											p Postal code: #{item.postal_code}
											p City: #{item.city}
											p Phone: #{item.phonenumber}
											p Email: #{item.email}
											