extends ../layout

block content
		section#page_content
			section#search_lists
					div
						h2 Search results matching ' #{result}'
						ul(data-role="listview")
							each item in dishes
								li								
									h3 #{item.obj.name}
									p 
										img(src="/images/dishes/#{item.obj.photopath}")
									p
										a(href="/dish/#{item.obj._id}") Review and read more