if(dish)

	form(name="dish_form", id="dish_form", method="post", enctype='multipart/form-data', class="tasty-form")
		ul
			li
				label(for="name") Dish name
				input(type="text", name="name", id="name", value="#{dish.name}", required)

			li
				label(for="description") Description
				textarea(name="description", id="description", required) #{dish.description}

			li
				label(for="price") Price in &euro;
				input(type="text", name="price", id="price", value="#{dish.price}", required)
			li
				label(for="type") Dish Type
				select(name="type", id="type")
					option(value="Appetizers") Appetizers
					option(value="Beef") Beef
					option(value="Burgers") Burgers
					option(value="Casseroles") Casseroles
					option(value="Chicken") Chicken
					option(value="Desserts") Desserts
					option(value="Drinks") Drinks
					option(value="Noodles") Noodles
					option(value="Pasta") Pasta
					option(value="Pizza") Pizza
					option(value="Pork") Pork
					option(value="Rice") Rice
					option(value="Roast") Roast
					option(value="Salads") Salads
					option(value="Sandwiches") Sandwiches
					option(value="Seafood") Seafood
					option(value="Soups") Soups
					option(value="Snacks") Snacks
					option(value="Starters") Starters
					option(value="Vegetarian") Vegetarian
			li
				label(for="keywords") Keywords
				input(type="text", name="keywords", value="#{dish.keywords[2]}", id="keywords")
				span.tasty-form-hint Use a comma (,) to separate the keywords 

			li
				label(for="photo") Dish Photo
				input(type="file", name="photo", id="photo")

				img(src="/images/dishes/#{dish.photopath}")
				
			li
				button(type="submit",class="submit") Update Dish

else

	form(name="dish_form", id="create_dish_form", method="post", enctype='multipart/form-data', class="tasty-form")
		ul
			li
				label(for="name") Dish name
				input(type="text", name="name", id="name", required)

			li
				label(for="description") Description
				textarea(name="description", id="description", required)

			li
				label(for="price") Price in &euro;
				input(type="text", name="price", id="price", required)
			li
				label(for="type") Dish Type
				select(name="type", id="type")
					option(value="Appetizers") Appetizers
					option(value="Beef") Beef
					option(value="Burgers") Burgers
					option(value="Casseroles") Casseroles
					option(value="Chicken") Chicken
					option(value="Desserts") Desserts
					option(value="Drinks") Drinks
					option(value="Noodles") Noodles
					option(value="Pasta") Pasta
					option(value="Pizza") Pizza
					option(value="Pork") Pork
					option(value="Rice") Rice
					option(value="Roast") Roast
					option(value="Salads") Salads
					option(value="Sandwiches") Sandwiches
					option(value="Seafood") Seafood
					option(value="Soups") Soups
					option(value="Snacks") Snacks
					option(value="Starters") Starters
					option(value="Vegetarian") Vegetarian
			li
				label(for="keywords") Keywords
				input(type="text", name="keywords", id="keywords")
				span.tasty-form-hint Use a comma (,) to separate the keywords 

			li
				label(for="photo") Dish Photo
				input(type="file", name="photo", id="photo")
			li
				button(type="submit",class="submit") Add New Dish