//-
	This is a for for updating dish-information,
	it may be possible to re-use the same form that is used in the create.jade

extends ../layout

block content
	h2.emph-title Update Dish Information

	include form